@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --colorPrimary: #1C5070;
  --colorSecondary: #33A6DB;
  --lightBackground: #F3F9FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--colorPrimary);
  --color-secondary: var(--colorSecondary);
  --light-background: var(--lightBackground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7FCFE;
    --foreground: #ededed;
    --font-sans: 'Inter', sans-serif;
    --transitionSpeed: 0.3s;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); 
}

.primaryText{
  color: var(--colorPrimary);
}

.secondaryText{
  color: var(--colorSecondary);
}

.primaryBg{
  background-color: var(--colorPrimary);
}

.secondaryBg{
  background-color: var(--colorSecondary);
}

.primaryBtn{
  color: #fff;
  background-color: var(--colorPrimary);
}

.lightBg{
  background-color: var(--lightBackground);
}

.primaryBtn:hover{
  background-color: var(--colorSecondary);
  transition: all var(--transitionSpeed) ease-in-out;
}

/* for invoice */

.bg-secondary {
  background-color: #1C5070; /* hex format works with html2canvas */
  color: #ffffff;
}

.primary-text{
  color: #1C5070;
}

/* Form */
.form-input {
  @apply w-full p-3 rounded-lg bg-[#F7FCFE];
}

button, a, link, a:hover {
  cursor: pointer;
}